__pycache__/Animation.cpython-311.pyc
__pycache__/Comet_event.cpython-311.pyc
__pycache__/Comet.cpython-311.pyc
__pycache__/Game.cpython-311.pyc
__pycache__/Monster.cpython-311.pyc
__pycache__/Player.cpython-311.pyc
__pycache__/Projectile.cpython-311.pyc
__pycache__/Sounds.cpython-311.pyc
